# Working with APIs
---

This project deals with extracting the information from a Youtube API about data related to videos on a particular channel. <br>
- It extracts data like video details, statistics of each video from the API <br>
- This data is further cleaned and put on a Dataframe for further use

In [1]:
#import libraries
import requests
import pandas as pd
import time

In [2]:
API_KEY= "AIzaSyDEgIORHDCLqJCog_r-rcnTA1l7KJSiP7I"
CHANNEL_ID = "UCW8Ews7tdKKkBT6GdtQaXvQ"

In [3]:
def get_video_stats(video_id):
    
    url_video_stats = "https://www.googleapis.com/youtube/v3/videos?key="+API_KEY+"&id="+video_id+"&part=statistics,id"
    response = requests.get(url_video_stats).json()

    viewCount = response['items'][0]['statistics']['viewCount']
    likeCount = response['items'][0]['statistics']['likeCount']
    #dislikeCount = response['items'][0]['statistics']['dislikeCount']
    commentCount = response['items'][0]['statistics']['commentCount']
    
    return viewCount,likeCount,commentCount

In [4]:
def get_videos(df):  
    
    #Make API Call
    pageToken=""
    url_search = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000"+pageToken

    response = requests.get(url_search).json()
    time.sleep(1)

    for video in response['items']:
        if video['id']['kind'] == 'youtube#video':
            video_id = video['id']['videoId']
            video_title = video['snippet']['title']
            video_title = str(video_title).replace("&amp;","")
            upload_date = video['snippet']['publishTime']
            upload_date = upload_date.split('T')[0]
            #print("Video id is:",video_id)
        
            viewCount, likeCount, commentCount = get_video_stats(video_id)
            
            #Saving above data to a dataframe
            df = df.append({'Video ID': video_id,'Video Title': video_title,
                        'Upload Date': upload_date,'View Count': viewCount,
                       'Like Count': likeCount,'Comment Count': commentCount},ignore_index=True)
    
    return df

In [5]:
#main

df = pd.DataFrame(columns=["Video ID","Video Title","Upload Date","View Count","Like Count","Comment Count"])
df = get_videos(df)
df

,Video ID,Video Title,Upload Date,View Count,Like Count,Comment Count
0,OzyHfddLj9g,How to Solve a SQL Interview Question Using WH...,2022-04-13,1250,52,7
1,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,2022-03-22,3775,125,20
2,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,2022-03-10,2122,65,3
3,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2022-03-02,2923,81,9
4,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,2022-02-08,5907,184,20
5,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,2022-01-27,3377,90,6
6,ToEl_tpyoM4,Uber Data Science Python Interview Question Wa...,2022-01-10,18039,449,24
7,30hS-MjpU6E,SQL Syntax Best Practices: How to Structure Yo...,2021-12-22,9712,425,45
8,Bgpp99iz0I0,Most Common Coding Mistakes on Data Science In...,2021-11-04,4237,200,32
9,GeJUvdkJKEc,Multiple Solutions to Data Scientist Interview...,2021-10-11,7254,194,35
10,GGURenNfXI0,Multiple Approaches for Solving a Twitter Data...,2021-09-13,4678,184,32
11,PlpUo6bHsBQ,Advanced Facebook Data Science SQL interview q...,2021-08-09,19138,578,62
12,uY2wfR8Dkqo,5 Tips for a Successful Data Science Interview,2021-07-26,9044,246,40
13,yY7yau9j3xk,Data Science SQL Scenario Based Interview Ques...,2021-07-20,6296,168,28
14,i-E4pdU2qXM,Data Science SQL Interview Question Walkthroug...,2021-07-13,6379,238,22
15,T1UhSuKqy3A,Most Common Data Science SQL Interview Questio...,2021-06-15,10473,359,37
16,2iE3JgNTwVU,A Walkthrough of Data Science SQL Interview Qu...,2021-06-04,4890,159,32
17,RgKMbpEylWA,Comparing FAANG vs Non-FAANG Data Science Inte...,2021-05-24,2672,90,13
18,giGIPINLqJs,An Analysis of 900 Data Science Interview Ques...,2021-05-13,3622,145,10
19,77IVf0zgmwI,Importing a Pandas Dataframe to a Database in ...,2021-05-05,14806,485,52
20,xtbMCAVXDmU,Facebook and Microsoft Data Science SQL interv...,2021-04-15,8426,257,60
21,fklHBWow8vE,Working with APIs in Python [For Your Data Sci...,2021-04-02,33778,1569,103
22,tNXliLTlrV8,Step-by-step Approach to Solving Any Data Scie...,2021-03-24,8576,292,35
23,XRwxYOhHdE8,Facebook&#39;s Most Common Data Science SQL In...,2021-03-10,31077,747,54
24,pV_mnZgzXEo,Coding Concepts in Data Science Interviews in ...,2021-03-03,5130,264,31
25,c4Af2FcgamA,The One and Only Data Science Project You Need,2021-02-24,182519,10832,234
26,QenwDm5oWdU,Advanced Data Science SQL Interview Question [...,2021-02-17,21768,720,103
27,TYHWv1vT0Pk,Common Date Manipulations on Data Science SQL ...,2021-02-11,14763,540,81
28,0GpgMvyN0Fg,How I Learned Data Science (resources to get a...,2021-02-04,12124,735,45
29,VYeevsVj4fU,Advanced SQL Questions From Amazon (Handling c...,2021-01-27,19216,558,68
30,vLjAG9eXkcU,Solving Complex SQL Interview Questions [How t...,2021-01-20,9962,320,61
31,lG0PbUq4wkg,Top Data Science Interview Questions in 2021 [...,2021-01-13,4940,183,24
32,j8kGqAAIhxA,Top Data Science Interview Question And Answer...,2021-01-06,4489,149,29
33,W_IERUwElkg,SQL Case Statements For Data Science Interview...,2020-12-28,29775,1057,85
34,eC7MdwKCCOE,Tricky Data Science Interview Question [By Fac...,2020-12-22,4459,150,31
35,XBE09l-UYTE,SQL Window Functions on Data Science Interview...,2020-12-17,56142,1882,147
36,C0hk-dZ9XSE,SQL Window Functions In a Data Science Intervi...,2020-12-10,3841,137,27
37,N0aHeKyNEto,Applying Software Engineering Principles To Yo...,2020-12-03,2286,93,30
38,TDwy1lSjEZo,Automating Your Data Science Tasks In Python (...,2020-11-24,8186,242,55
39,EPUayNC5ku4,SQL Coding Interview Question Using A Window F...,2020-11-19,56455,1634,124
40,wqBFgaMgFQA,Solve Data Science Tasks In Python (Saving Hou...,2020-11-15,15930,516,50
41,IKw0lkmBHNI,Solving an Airbnb Data Science Coding Intervie...,2020-11-11,5388,120,19
42,_gy1o9UH2dQ,Hard SQL Interview Question From FACEBOOK | Da...,2020-11-04,21539,463,71
43,7Q-2DEwHW7w,Solving a SQL Interview Question by FACEBOOK |...,2020-10-29,6049,114,21
44,pFwYjaeKFvQ,Solving a Facebook Data Science Interview Ques...,2020-10-22,4650,75,19
45,iR8FDQyCtnw,SQL Interview Questions From MICROSOFT | Expen...,2020-10-20,2304,57,5
46,1SgHHQeRuxs,How I Prepare For My Data Science Interviews (...,2020-10-18,4388,132,17
47,UndSRKwsxKM,YELP SQL Data Science Interview Questions | Co...,2020-10-10,2224,42,14
48,U9P4M4EPTgI,Intro to Real Data Science Interview Questions...,2020-09-23,2935,53,6
49,S7gKkRxlk1U,Real Data Science Interview Question From Face...,2020-09-23,5385,102,13